body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f4f8; /* Light background color */
}

header {
  background-color: #006400; /* Dark green color */
  color: #fff;
  padding: 1em 0;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  max-height: 100px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  transition: background-color 0.3s;
}

nav ul li a:hover {
  background-color: #004d00; /* Slightly lighter green for hover */
}

.hero {
  background-color: #008080; /* Teal color */
  color: #fff;
  padding: 50px 0;
  text-align: center;
  position: relative;
}

.slider {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto 20px auto;
  overflow: hidden;
  position: relative;
}

.slider img {
  width: 100%;
  display: block;
}

.about, .books, .astrology {
  padding: 50px 0;
  background-color: #fff;
  margin: 20px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.about-image, .astrology-slide img, .books .book img, .book-slide img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 20px auto;
}

.books .book, .astrology .astrology-slide, .book-slide {
  border: 1px solid #ccc;
  padding: 16px;
  margin: 16px 0;
  text-align: center;
  background-color: #f9f9f9;
}

.book-slide {
  display: none;
}

.astrology-slide {
  display: none;
}

footer {
  background-color: #006400; /* Dark green color */
  color: #fff;
  text-align: center;
  padding: 1em 0;
}

button {
  background-color: #006400; /* Dark green color */
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin: 10px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #004d00; /* Slightly lighter green for hover */
}

@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    margin-left: 0;
    margin-bottom: 10px;
  }

  .hero {
    padding: 20px 0;
  }

  .books .book, .astrology .astrology-slide {
    padding: 10px;
  }

  button {
    padding: 5px 10px;
    margin: 5px;
  }
}